services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      TZ: Asia/Ho_Chi_Minh
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - smartquit-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  app:
    image: ${DOCKERHUB_USERNAME}/smartquitiot:latest
    container_name: smartquitiot-app
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "19000:8080"
    environment:
      TZ: Asia/Ho_Chi_Minh
      JAVA_TOOL_OPTIONS: -Duser.timezone=Asia/Ho_Chi_Minh
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/smartquitiot?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=Asia/Ho_Chi_Minh&allowPublicKeyRetrieval=true
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}

      SIGNER_KEY: ${SIGNER_KEY}
      REFRESH_TOKEN_KEY: ${REFRESH_TOKEN_KEY}
      OPEN_API_KEY: ${OPEN_API_KEY}
      YOUR_WEB_CLIENT_ID: ${YOUR_WEB_CLIENT_ID}
      EMAIL_USERNAME: ${EMAIL_USERNAME}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}

      PAYOS_API_KEY: ${PAYOS_API_KEY}
      PAYOS_CHECKSUM_KEY: ${PAYOS_CHECKSUM_KEY}
      PAYOS_CLIENT_ID: ${PAYOS_CLIENT_ID}
      AGORA_APPID: ${AGORA_APPID}
      AGORA_APPCERTIFICATE: ${AGORA_APPCERTIFICATE}
    networks:
      - smartquit-network

networks:
  smartquit-network:
    driver: bridge

volumes:
  mysql_data:
